# .NET Core
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.cache
*.pdb
*.dbmdl
.vs/
.vscode/
.idea/
*.sln.ids
*.suo
*.user
*.userosscache
*.sln.docstates

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
.eslintcache

# PWA
dev-dist/

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Testing
TestResults/